:root{
    --light-green: #cce8e2ff; 
    --dark-green: #89a59eff;
    --matt-grey: #333333;
    --dark-blue: #2c2f3fff;
    --matt-blue: #899ea5ff;
    --light-beige: #e8e2ccff;
    --accent-color: #e2cce8ff;
}
